body { 
    background-color: rgb(250, 250, 250);
}

.cabecalho{
    background-color: rgb(213, 113, 113);
    color: whitesmoke;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 30%;
    margin-bottom: 1em;
}

#titulo {
    font-size: 30px;
    text-align: center;
    color: white;
}

section{
    font-size: 20px;
    background: #d58982;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(131, 27, 27, 0.1);
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 70%;
    margin: auto;
}

p{
    color: white;
}

.imgcentro {
    display: block;
    margin: auto;
    width: 300px;
}

nav{
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: ;
}

li{
    text-align: ;
    display: inline-block;
    padding: 0px 50px 0px 10px;
    font-size: ;
    font-family: Verdana ;
}

img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: auto;
    border-radius: 10px;
    border: 3px solid #2c3e50;
}